#Titulo {
    color: rgb(219, 58, 30); 
}

p.Text {
    color: blue
}

p.Besonderes {
    color: rgb(25, 76, 48);
}
div p {
    color:rgb(1, 175, 45)
}
/*Dies ist ein Kommentar in CSS*/
*{  
    color:brown
}
/*este ultimo selector universal(*) selecciona 
todos los elementos cuyas propiedades no hayan 
sido definidas*/